.container{
    height: 500px;
    width: 800px;
    background-color: #fff;
    box-shadow: 20px 24px 18px; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    margin-left: 300px;

}
.passworddisplay{
    height: 80px;
    width: 100%;
    padding: 20px;
    display: flex;
    color: blueviolet;
    justify-content: start;
    align-items: center;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    border-radius: 20px;
}
.passworddisplay p{
    font-weight: 600;
    font-size: 18px;
}
.divison{
    height: 80%;
    width: 100%;
    flex-direction: column;
    display: flex;
    padding: 30px;
    gap: 40px;
    justify-content: center;
    align-items: start;
}
.divison label{
    font-size: 18px;
    font-weight: 400;
}
.passwordlength input{
    width: 30%;
    all: unset;
    margin-left:20px;
    font-weight: 400;
    text-align: center;
    border-bottom: 1px solid black;
}
.buttons{
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.buttons button{
    font-size: 20px;
    color: black;
    border: none;
    outline: none;
    text-transform: uppercase;
    width: 400px;
    height: 40px;
    cursor: pointer;
    font-style: italic;
    background: none;
    border-radius: 10px;
    
}
.buttons button:hover{
    color: white;
    background-color: rgb(248, 110, 110);
    transform: translateY(-7px);
}
