*{
    margin: 0;
    padding: 0;
}


.header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    margin-top: 130px;
    margin-left: 25%;
    width: 700px;
    height: 450px;
    box-shadow: 20px 15px 20px;
   
}
.tittle h1{
    display: flex;
    justify-content: center;
    align-items: center;
     margin-bottom: 40px;
     font-style: italic;
}
.inp input{
    border-radius: 10px;
    width:350px;
    height: 25px;
    gap: 10px;
    font-weight: 500;
    border: none;
    border-bottom: 1px solid;
    cursor: pointer;
    outline: none;
}
.inp ::placeholder{
    font-weight: 500;
}
.inp{
   height: 50px;
}
.pass input{
    border-radius: 10px;
    width:350px;
    border: none;
    height: 25px;
    border: none;
    margin: none;
    border-bottom: 1px solid;
    cursor: pointer;
    outline: none;
    
    
    
}
.buton button{
    width: 100px;
    height: 30px;
    font-size: 15px;
    background-color: rgb(56, 255, 179);
    box-shadow: 0px 5px 10px;
    border-radius: 20px;
    cursor: pointer;
    border: 1px solid;
    transition: all 0.2;
    margin-left: 140px;
    margin-top: 50px;

}
.buton button:hover{
    background-color:rgb(112, 172, 241);
    box-shadow: 0px 15px 20px ;
    color: #fff;
    transform: translateY(-7px);
}
.buton button:active{
    transform: translateY(-1px);
}
.link{
    cursor: pointer;
    margin-left: 110px;
    margin-top: 40px;
 
   
}
.link a{
    color: black;
    padding: 1px;
}
.link :hover{
    /* color: rgb(255, 88, 116); */
    color: rgb(255, 102, 102);
    transform: translateY(-8px);
    
}
@media screen and (max-width:700px) {
    .header {
        width:400px;
        height: 600px;
        overflow: hidden;
        justify-content: start;
        flex-direction:column;
}
}