

* {
  margin: 0;
  padding: 0;
}



.container{
  /* background-color:lightcoral; */
  width: 500px;
  height: 550px;
  border-radius: 30px;
  margin-left: 440px;
  margin-top: 50px;
  box-shadow:30px 25px 20px  #0000008c;
  position: relative;
  overflow: hidden;

}
.container h1{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
}
.urltext input{
  font-size: 20px;
  margin-top: 130px;
  margin-left: 70px;
  border-radius: 10px;
  border: 0;
  outline: none;
  text-align: center;
 
}
.urltext button{
  font-size: 25px;
  display: flex;
  width: 150px;
  height: 50px;
  padding:8px;
  border-radius:15px;
  margin-top: 70px;
  border: none;
 display: flex;
 justify-content: center;
  margin-left: 170px;
  cursor: pointer;
}
.urltext button:hover{
  background-color:#0b0c0c;
  box-shadow: 0px 15px 20px ;
  color:#fff;
  transform: translateY(-6px);
}